@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
        @apply text-3xl;
        @apply font-black;
    }
    h2 {
        @apply text-2xl;
        @apply font-black;
    }
    h3 {
        @apply text-2xl;
        @apply font-bold;
    }
    h4 {
        @apply text-xl;
        @apply font-bold;
    }
    h5 {
        @apply text-lg;
        @apply font-bold;
    }
    h6 {
        @apply font-bold;
    }

    .markdown h1 {
        @apply text-2xl;
        @apply font-black;
    }
    .markdown h2 {
        @apply text-xl;
        @apply font-bold;
    }
    .markdown h3 {
        @apply text-lg;
        @apply font-bold;
    }
    .markdown h4, .markdown h5, .markdown h6 {
        @apply font-bold;
    }

    .markdown ul {
        list-style: square inside;
        @apply mb-6;
        @apply ml-4;
        @apply mt-2;
    }
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox {
    background-color: #999999;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox {
    background-color: #003982;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
